name: app-chess-vrc

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build bootJar
        run: ./gradlew :module:application:app-chess-api:bootJar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-chess-api
          path: module/application/app-chess-api/build/libs/*.jar